adf/pipeline/webhookpipeline.json
{
	"name": "webhookpipeline",
	"properties": {
		"activities": [
			{
				"name": "Webhook",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://datalakedemodp203.blob.core.windows.net/csv/Customer/Customer02.csv"
				}
			},
			{
				"name": "copywebfilecsv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "webhookvariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "WebActvityOutput",
								"value": {
									"value": "{variables('webhookvar')}",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "WebActvityOutput",
									"type": "String"
								},
								"sink": {
									"name": "WebActvityOutput",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "webhookvariable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Webhook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "webhookvar",
					"value": {
						"value": "{activity('webhook').output.value[1]}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"webhookvar": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-08T16:11:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}